.navbar {
  background-color: #fcfcfc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  /* color:  */
}

Link {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}
